<link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.4.3.min.css">
<script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="http://cdn.oesmith.co.uk/morris-0.4.3.min.js"></script>

<div class="row">
  <div class="col-sm-6">
    <div class="well">
      <div id="{{ page.morea_id }}" style="height: 150px;"></div>
      <span class="h4">
        <span style="padding: 2px" class="label label-success">Rx: {{ include.Rx }}</span>
        <span style="padding: 2px" class="label label-info">Av: {{ include.Av }}</span>
        <span style="padding: 2px" class="label label-warning">Sd: {{ include.Sd }}</span>
      <span style="padding: 2px" class="label label-danger">DNF: {{ include.DNF}}</span>
</span>
    </div>
  </div>

  <div class="col-sm-6">
    {{ page.morea_morris_chart_caption | markdownify }}
  </div>

<script>
Morris.Bar({
  element: '{{ page.morea_id }}',
  hideHover: 'auto',
  data: {{ page.morea_morris_chart_data }},
  xkey: 'y',
  ykeys: ['num'],
  resize: true,
  labels: ['Students']
});
</script>
