## Standard WOD Caveats

You’ll learn significantly less from watching me solve the
WOD if you haven’t attempted the WOD yourself first.

While it's an achievement to finish the WOD no matter how long it takes, you
might experience "diminishing returns" if you work longer than the DNF
time. Thus, it might be strategic to stop working at the DNF time and watch
my solution.

After watching my solution, I recommend that you repeat the WOD if you
have not achieved at least Av performance. If so, be sure to:

  * Delete your old project so you cannot refer to it;
  * Don’t look at my screencast while you WOD; and
  * Reset your timer.

Feel free to keep trying until you make Rx if that’s of interest to you.